
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}


img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}


body {
  min-height: 100vh;
  
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

a{
  text-decoration: none;
}




